<footer>
  
</footer>
<div id="scroll-to-top" style="display:none"></div>

<div class="feedback-icon" data-toggle="modal" data-target="#feedback-list"></div>
<a class="phone-call-icon-anchor" href="tel:79259258250"><div class="phone-call-icon"></div></a>

<div id="feedback-list" class="modal fade checkout-result" role="dialog">
    <div class="modal-dialog modal-dialog-centered"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <h4 class="modal-title">Как вам удобнее с нами связаться?</h4>
          <ul class="feedback-list">
              <li><a href="mailto:info@bestfriends.ru">Email</a></li>
              <li><a href="">Facebook Messenger</a></li>
              <li><a href="">WhatsApp</a></li>
              <li><a href="">Telegram</a></li>
              <li><a href="">Viber</a></li>
              <li><a href="tel:79259258250">Позвонить +7 925 925-82-50</a></li>
          </ul>
          <button class="main-btn" data-dismiss="modal">Отмена</button>
      </div> 
      </div> 
    </div>
</div>


<div id="wishlist-added" class="modal fade checkout-result" role="dialog">
    <div class="modal-dialog modal-dialog-centered"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <p class="wishlist-message">Добавлено в избранное</p>
          <button class="main-btn" data-dismiss="modal">ОК</button>
      </div> 
      </div> 
    </div>
</div>

<div id="lot-add-to-cart-modal" class="modal fade checkout-result" role="dialog">
    <div class="modal-dialog modal-dialog-centered"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="wishlist-message">Лот добавлен в корзину</p>
          <button class="main-btn" data-dismiss="modal">ОК</button>
      </div> 
      </div> 
    </div>
</div>

  <!-- Add to cart Modal -->
  <div id="add-to-checkout" class="modal fade add-to-checkout" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Контактные данные</h4>
          <div class="checkout-contact-form">
            <form action="" id="contact-form">
              <div class="form-group">
                <label for="user-name">Ваше имя
                </label>
                <input id="user-name" type="text" name="user-name">
              </div>
              {# <div class="form-group">
                <label for="user-mail">Email
                </label>
                <input id="user-mail" type="text" name="user-mail">
              </div> #}
              <div class="form-group">
                <label for="user-tel">Телефон
                </label>
                <input id="user-tel" type="text" name="user-tel" placeholder="+7(XXX) XXX-XX-XX">
              </div>
              <div class="form-group">
                <label for="user-comment">Комментарий для менеджера
                </label> 
                <textarea id="user-comment" name="user-comment" rows="1"></textarea>
              </div>
              <label class="container-check"  for="iagree-check">Я согласен на обработку персональных данных.*
                <input type="checkbox" checked="checked"  id="iagree-check">
                <span class="checkmark"></span>
              </label>
              <button type="submit" class="main-btn" data-toggle="modal" data-target="#add-to-checkout">Отправить </button>
            </form>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <!-- result checkout -->
  <div id="checkout-result" class="modal fade checkout-result" role="dialog">
    <div class="modal-dialog modal-dialog-centered"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Сообщение отправлено</h4>
          <div class="checkout-result">Ваше сообщение успешно отправлено. В ближайшее время с Вами свяжется наш специалист.</div>
          <a href="{{ continue }}" class="main-btn">Закрыть окно</a>
      </div> 
      </div> 
    </div>
  </div>


  <!-- Пустые поля -->
  <div id="empty-fields" class="modal fade empty-fields-message" role="dialog">
    <div class="modal-dialog modal-dialog-centered"> 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Сообщение не отправлено</h4>
          <div class="empty-fields-message-text">Заполните все поля пожалуйста.</div>
          <button class="main-btn" data-dismiss="modal">Закрыть</button>
      </div> 
      </div> 
    </div>
  </div>

  <!-- Certificate Modal -->
<div id="certificate-modal" class="modal fade certificate-modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content" style="max-width: none;">
      <div class="modal-header">
      </div>
      <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
              <img src="/image/igi-logo.png" alt="IGI logo" class="igi-logo" style="padding: 30px 0;">
                
              <h4 class="modal-title">Этот бриллиант поставляется с сертификатом GIA</h4>
              
              <p class="cert-view-description">
                Чтобы посмотреть копию сертификата, пожалуйста, свяжитесть с нашей службой поддержки клиентов.
              </p>
              <p class="cert-view-description">
                <a href="tel:+77777777777">+7(777)777-77-77</a>
              </p>
              <p class="cert-view-description">
                Или напишите удобным для вас способом:
              </p>
              <div class="product-share-row"> 
                <a href=""><img src="/image/share-ico/telegram.svg" alt="" class="img-svg"></a>
                <a href=""><img src="/image/share-ico/whatsapp.svg" alt="" class="img-svg"></a> 
                <a href=""><img src="/image/share-ico/email.svg" alt="" class="img-svg"></a>
              </div>
      </div>
      <div class="modal-footer"> 
        <button  data-dismiss="modal" class="main-btn">Закрыть</button>
      </div>
    </div>

  </div>
</div>



{#% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %#}

<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
<script src="catalog/view/theme/bfr/javascript/common.js?v20042105" type="text/javascript"></script>
{# <script src="https://yastatic.net/share2/share.js" async></script> #}
<script src="catalog/view/theme/bfr/javascript/sorting.js?v24042101"></script>
</body>
</html>
